.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* Faz com que ocupe toda a altura da página */
  margin: 20px;

}

.board {
  display: grid;
  grid-template-columns: repeat(9, 3rem);
  /* Cada célula tem largura de 3rem */
  grid-template-rows: repeat(9, 3rem);
  /* Cada célula tem altura de 3rem */
  gap: 0.2rem;
  border: 2px solid black;
  /* Outer border */
}

.row {
  display: contents;
}

.cell {
  width: 3rem;
  /* Define largura */
  height: 3rem;
  /* Define altura igual à largura */
  text-align: center;
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  font-size: 1.5rem;
  /* Ajuste do tamanho da fonte */
  border: 2px solid #ccc;
  cursor: pointer;
}

.cell:focus {
  outline: none;
  border: 2px solid#00f
}

.cell:nth-child(3n) {
  border-right: 3px solid black;
  /* Right border for 3x3 blocks */
}

.cell:nth-child(3n + 1) {
  border-left: 3px solid black;
  /* Left border for 3x3 blocks */
}

.row:nth-child(3n) .cell {
  border-bottom: 3px solid black;
  /* Bottom border for 3x3 blocks */
}

.row:nth-child(3n + 1) .cell {
  border-top: 3px solid black;
  /* Top border for 3x3 blocks */
}